* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff
}

#main-header {
    background: url('../obrazy/man-1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    margin: 0;
    border: no border;
    background-repeat: no-repeat;
}

#main-header .header-inner {
    color: #fff;
    font-family: 'verdana', sans-serif;
    text-align: left;
    padding: 10% 7%;
}

#main-header .header-inner h1 {
    font-size: 1,5em;
}

#main-header .header-inner h2{
    font-size: 2,5em;
}